.basket {
  background-color: $color-light;
  &__footer {
    padding: 2.4rem;
  }

  &__checkout-btn {
    text-transform: uppercase;
    font-family: $ff-playfairSC;
    font-weight: 600;
    border: 1px solid $color-dark-tint;
    padding: 2.4rem;
  }

  &__header {
    padding: 2.4rem;
  }

  &__text {
    display: block;
    color: $color-dark-tint;
  }

  &__title {
    text-transform: uppercase;
    font-family: $ff-playfairSC;
    font-size: $ff-700;
  }
}

.bsk-item {
  padding: 2.4rem;

  &:not(:last-child) {
    border-bottom: 1px solid #cacbca;
  }
  &__body {
    height: 10rem;
  }
  &__img-box {
    padding: 0;

    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    padding: 1.2rem;
  }
  &__buttons {
    padding: 0;
  }

  &__rmv {
    width: max-content;
  }

  &__counter {
    width: 100%;

    & > * {
      flex: 1 1 33.33%;
    }
  }

  &__btn {
    border: none;
  }

  &__product-name {
    font-family: $ff-playfairSC;
    font-weight: 600;
  }
}

.offcanvas.offcanvas-start.basket {
  width: 100%;
  max-width: 70rem;
}
