.product-item {
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__img-box {
    width: 100%;
    height: 30rem;
    border: none;
    background-color: transparent;
  }

  &__name {
    font-family: $ff-playfairSC;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

    border: none;
    background: transparent;
    text-align: left;
  }

  &__btn {
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}
